@import url('http://getbootstrap.com/dist/css/bootstrap.css');
@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,600;1,300&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Skyline.svg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 65%;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown:hover .dropdown-menu {
  display: block;
  color: transparent;
  border-radius: 15px;
  margin-top: 0; /* remove the gap so it doesn't close */

}

.dropdown-item.active {
  background-color: transparent !important;
  color: black !important;
}

p {
  font-family: 'Ysabeau', sans-serif;
  font-weight: 300;
}

a {
  font-family: 'Ysabeau', sans-serif;
  font-size: 18px
}



.dropdown-toggle::after {
  content: none;
}

.nav-style {
  position: relative;
}

.nav-style::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #F05458;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-style:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.nav-style {
  position: relative;
}

.nav-style::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #F05458;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.nav-style:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}


.sticky-image {

}